@font-face {
  font-family: "Amiko";
  src: url("./Fonts/Amiko-Regular.ttf");
}

@font-face {
  font-family: "QuickSand";
  src: url("./Fonts/Quicksand-VariableFont_wght.ttf");
}

h1{
  font-family: Amiko;
  font-size: 52px;
}

.topContainer {
    position: relative;
    height: 60vh;
    background-color: rgba(33, 25, 51, 0.5); /* Purple overlay */
    margin-top: 5%;
  }
  
  .backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .figCaption {
    position: relative;
    z-index: 1;
    padding: 5px;
    margin-left: 10%;
    top: 100%;
    left: 1%;
    transform: translate(-10%, 20%);
    color: white;
  }
  
  .learnMoreButton {
    background-color: #007bff00;
    color: white;
    padding: 15px 35px;
    border: 2px solid white;
    margin-top: 5%;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: QuickSand;
  }
  
  .learnMoreButton:hover {
    background-color: rgb(33, 25, 51);
  }

  @media screen and (max-width: 850px) {
    h1{
      font-size: 36px;
    }

    p{
      font-size: 12px;
    }
  }

  @media screen and (max-width: 400px) {
   

    .figCaption{
      transform: translate(-40%, 10%);
    }

   
  }

  @media screen and (max-width: 377px) {
   

    

   
  }