.csgo-section {
    text-align: center;
  }

  .csgo-section h2{
    text-align: center;
    margin: 0;
    
  }
  
  .map-container {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    width: 100%; /* Ensure the container is full width */
    max-width: 800px; /* Optional: limit the maximum width */
  }
  
  .map-image {
    width: 100%;
    height: auto;
  }
  
  .marker {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: gold;
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%); /* Center the marker on the point */
  }
  
  .marker-info {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    z-index: 100;
    transform: translate(-100%, -100%); /* Adjust position to be above and to the left of the marker */
    max-width: 300px; /* Optional: limit the maximum width of the info box */
  }
  
  .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
  }
  
  .marker-info iframe {
    margin-top: 10px;
    width: 100%;
    height: auto;
  }
  