.designPage{
    
    
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto; /* Center the section horizontally */
    
    color: rgb(255, 255, 255);
    text-align: center;
    min-height: 100vh; /* Ensure full height for vertical centering */
    box-sizing: border-box;

}

@font-face {
    font-family: "Amiko";
    src: url("./Fonts/Amiko-Regular.ttf");
  }
  
  @font-face {
    font-family: "QuickSand";
    src: url("./Fonts/Quicksand-VariableFont_wght.ttf");
  }

.designPage h1{
font-family: Amiko;
color: rgb(0, 0, 0);
}

.designPage h2{
    font-family: Amiko;
    margin-top: 10%;
    color: rgb(0, 0, 0);
}

.designPage h3{
    font-family: Amiko;
    margin-top: 10%;
    color: rgb(0, 0, 0);
}

.designPage p{
    color: black;
    font-family: QuickSand;
}

.designPage img{
    max-width: 800px;
    height: auto;
}