.header {
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  align-items: flex-end; /* Align items to the right */
  justify-content: center; /* Align items vertically centered */
  height: 100vh; /* Set height to full viewport height */
   
  
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  padding: 20px; /* Add padding for spacing */
}
  button{
    background: none;
    border: none;
    cursor: pointer;
  }

  .navLinks {
    display: flex;
    flex-direction: column; /* Arrange links underneath one another */
    align-items: flex-end; /* Align links to the right */
    
  }

  .navLinks a {
    color: rgb(255, 255, 255);
    font-family: Azonix;
    text-decoration: none;
    font-family: Amiko;
    font-size: 18px; /* Adjust font size if needed */
    cursor: pointer;
    transition: color 0.3s;
    margin-bottom: 100%; /* Increase or decrease to change space between links */
  }

  

  .navLinks a.active {
    color: #61dafb; /* Text color for active link */
  }
  
  .navLinks a:hover {
    color: #61dafb; /* Light blue color on hover */
  }
  
  
  
  .logo img {
    height: 50px;
    border-radius: 60px;
    border: none;
    margin-left: 20%;
  }
  
  .logo {
    margin-left: 20px; /* Adjust margin for logo spacing */
  }
  
  
  
  
  .navLinks a:hover {
    color: #61dafb; /* Light blue color on hover */
  }

  @font-face {
    font-family: "Azonix";
    src: url("./Fonts/Azonix.otf");
  }

 
  