/* src/styles/Header.css */
.header {
    display: flex;    
    align-items: center;
    height: 7%;
    background-color: rgba(0, 0, 0, 0); /* Dark purple background */
    color: white;
    
    position: fixed;
    z-index: 3;
    width: 100vw;
    top: 0%;
  }

  button{
    background: none;
    border: none;
    cursor: pointer;
  }

  .navLinks  {
    display: flex;
    background: none;
    border: none;
    color: white;
    text-decoration: none;    
    font-family: 'Amiko', sans-serif;
    font-size: 18px; /* Adjust the font size if needed */
    cursor: pointer;
    margin: 0 100px;
    transition: color 0.3s ease; /* Smooth color transition */
    gap: 100px;
    padding-left: 50px;
  }

  
  .navLinks button:hover {
    color: #61dafb; /* New color on hover */
   
  }
  
  .logo img {
    height: 50px;
    border-radius: 60px;
    border: none;
    margin-left: 20%;
  }
  
  
  .navLinks a {
    color: white;
    text-decoration: none;
    font-family: 'QuickSand', sans-serif;
    transition: color 0.3s;
  }
  
  .navLinks a:hover {
    color: #61dafb; /* Light blue color on hover */
  }

  @media (max-width: 630px) {
    .navLinks{
        margin: 0px 0px;
        margin-right: 50px;
        
    }
  }

  @media (max-width: 460px) {
    .navLinks {
        
        margin-right: 35px;
        font-size: 12px;
    }
  }

  @media (max-width: 430px) {
    .navLinks {
        margin-left: -5%;
        margin-right: 0%;
        font-size: 12px;
    }

    .logo img {
        height: 25px;
        width: auto;
        border-radius: 60px;
      }
  }

  @media (max-width: 400px) {
    .navLinks {
        gap: 20px;
    }

    
  }
  