/* Header.css */
@font-face {
  font-family: "Proc";
  src: url("./Fonts/ProcrastinatingPixie-WyVOO.ttf");
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 100vh;
  font-family: Proc;
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  padding: 20px;
  
  
}

.navLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 10%;
}

.navLinks a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s ease; /* Add transition effect */
  margin-bottom: 110%;
  text-shadow: 4px 4px 6px rgb(0, 0, 0);
}

.navLinks a:hover{
transform: scale(1.2);
color: rgb(255, 255, 255);
}

.navLinks a.active {
  text-decoration: underline;
  color: rgb(112, 109, 63);
  text-shadow: 0px 0px 0px rgb(255, 255, 255);
}


