/* src/styles/SignUp.css */

.signUpContainer {
  position: relative; /* Required for positioning the pseudo-element */
  padding: 20px;
  width: 60%;
  margin-top: 20px;
  border-radius: 8px;
  padding-bottom: 5%;
  z-index: 1;
  overflow: hidden; /* Ensures the pseudo-element does not overflow */
}

.signUpContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./Images/SignUpBG.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(5px); /* Adjust the blur intensity as needed */
  z-index: -1; /* Place the pseudo-element behind the form content */
}

.inFrontForm {
  position: relative;
  z-index: 1; /* Ensure the form content is above the blurred background */
}

h2 {
  color: white;
  font-size: 42px;
  margin: 4%;
}

.LoggedInMessage {
  font-size: 32px;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  z-index: 3;
}

.formGroup {
  margin-bottom: 15px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
  color: white;
  font-family: 'QuickSand', sans-serif;
}

.formGroup input {
  padding: 10px;
  border: none;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
}

.signUpButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signUpButton:hover {
  background-color: rgb(33, 25, 51);
}

.thankYouMessage {
  padding: 20px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: 'QuickSand', sans-serif;
}

.userIcon {
  margin-top: 20px;
  width: 100px;
}
