body{
    width: 100%;
    padding: 0 0;
}

.theory-page{
    text-align: center;
    
    color: rgb(0, 0, 0);
}

.essay{
    max-width: 800px;
    margin: 0 auto; /* Center the text container */
}

.reflections {
    max-width: 800px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the text container */
  }

p{
    line-height: 30px;
    font-family: QuickSand;
}

.theory-page h1{
    font-family: Amiko;
    font-size: 48px;
    color: black;
    margin: 0;
}

.theory-page h2{
    font-family: Amiko;
    color: black;
}

.theory-page h3{
    font-family: Amiko;
    color: black;
}

.ArtWork{
    width: 50%;
    height: auto;
}

.ArtWork2{
    width: 50%;
    height: auto;
}

.videos{
    transition: transform 0.3s ease,box-shadow 0.3s ease;
}

.videos:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px 10px rgba(0, 4, 255, 0.986);
}


@font-face {
    font-family: "Amiko";
    src: url("./Fonts/Amiko-Regular.ttf");
  }
  
  @font-face {
    font-family: "QuickSand";
    src: url("./Fonts/Quicksand-VariableFont_wght.ttf");
  }



 