/* Font-face declarations */
@font-face {
  font-family: "Amiko";
  src: url("./Fonts/Amiko-Regular.ttf");
}

@font-face {
  font-family: "QuickSand";
  src: url("./Fonts/Quicksand-VariableFont_wght.ttf");
}

div{
  display: block;
}

body, html {
  margin: 0;
  padding: 0;  
  width: 100%;
  height: 100%;
}

.mainContainer {
  width: 100vw;
  
}

h1 {
  font-family: Amiko;
  font-size: 52px;
  margin-bottom: 1%;
}

.topContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}

.relativeContainer{
  width: 100%;
  height: 100vh;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0);
  position: relative;
}

.figCaption {
  position: absolute;
  z-index: 2;
  top: 40%;
  left: 25%;
  width: 35%;
  transform: translate(-50%, 0);
  color: white;
}

.gallery {
  display: flex;
  height: 100%;
}

.slide {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.slide.active {
  opacity: 1;
  z-index: 1;
}

.dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 3;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.dot.active {
  opacity: 1;
}

.scrollIndicator {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

@keyframes arrowAnimation {
  0% {
    opacity: 0;
    transform: translateY(-50px) rotate(45deg);
  }
  50% {
    opacity: 1;
    transform: translateY(0) rotate(45deg);
  }
  80% {
    transform: translateY(30px) rotate(45deg);
  }
  100% {
    opacity: 0;
    transform: translateY(50px) rotate(45deg);
  }
}

.arrow {
  width: 10px;
  height: 10px;
  border: solid rgb(255, 255, 255);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(45deg);
  animation: arrowAnimation 2s infinite; /* Adjust animation duration */
}

.scrollOverlay {
  position: relative;
  color: rgb(0, 0, 0);
  width: 100vw;
  background: rgb(255, 255, 255);
  z-index: 3;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 400vh;
  text-align: center;
  background-image: url('./Images/WhiteTextureBG.jpg'); 
  background-repeat: repeat; 
  background-size: 100%;
}

.overlayContainer{
  width: 80%;
  height: 100%;
  display: flex; 
  margin: auto;
  flex-direction: column; 
  align-items: center;
  
  
}



.scrollOverlay h1{
  margin-top: 5%;
  color: black;
  text-decoration: underline;
}

.scrollOverlay h2{
  margin-top: 5%;
  
  color: black;
}

.blogsHeading{
  color: black;
  text-decoration: underline;
}

.trailer1 {
  display: flex;
  text-align: center;
  margin-top: 10%;
  gap: 150px;
  align-items: center;
  width: 80%;
  padding: 20px;
  
  transition: transform 0.3s ease;
 color: rgb(0, 0, 0);
padding-bottom: 50px;
 border-bottom: 2px solid black;
}

.trailer2 {
  display: flex;
  text-align: center;
  margin-top: 10%;
  gap: 150px;
  align-items: center;
  width: 80%;
  padding: 20px;
  margin-top: 2%;
  transition: transform 0.3s ease;
 color: rgb(0, 0, 0);
padding-bottom: 50px;
 border-bottom: 2px solid black;
}

.trailer3 {
  display: flex;
  text-align: center;
  margin-top: 10%;
  gap: 150px;
  align-items: center;
  width: 80%;
  padding: 20px;
  margin-top: 2%;
  transition: transform 0.3s ease;
 color: rgb(0, 0, 0);
 padding-bottom: 50px;
 
}




.video{
  
  border-radius: 15px;
}

.trailer1 iframe {
  
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.trailer1 iframe:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px 10px rgba(255, 0, 0, 0.986);
}

.trailer2 iframe {
  
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.trailer2 iframe:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px 10px rgba(4, 0, 228, 0.986);
}

.trailer3 iframe {
  
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.trailer3 iframe:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px 10px rgba(228, 186, 0, 0.986);
}

.trailer1 h2{
  color: rgb(0, 0, 0);
}

.trailer2 h2{
  color: rgb(0, 0, 0);
}

.trailer3 h2{
  color: rgb(0, 0, 0);
}

.blogLinks {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  width: 70%;
  height: auto;
}

.blog1{
  width: 400px;
  height: 300px;
  background-size: cover;
  background-image: url('./Images/Balance.png');
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  
  transition: transform 0.3s ease-in-out, border-bottom 0.3s ease-in-out, border-left 0.3s ease-in-out;
}



.overlay{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.719);
  position: absolute;
  top: 0;
  left: 0;
  transition: background 0.1s ease;
  
 
}

.overlay:hover{
  background: rgba(0, 0, 0, 0);
}

.blog1:hover {
  
  transform: translateY(-20px);
  
}

.blog1Image{
  width: 10%;
  height: 10%;
 
  
}

.blog2{
  width: 400px;
  height: 300px;
  background-size: cover;
  background-image: url('./Images/Interactive.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  
  transition: transform 0.3s ease-in-out, border-bottom 0.3s ease-in-out, border-left 0.3s ease-in-out;
}

.blog2:hover {
  
  transform: translateY(-20px);
  
}

.blog2Image{
  width: 10%;
  height: 10%;
 
  
}



