/* Font-face declarations */
@font-face {
  font-family: "Amiko";
  src: url("./Fonts/Amiko-Regular.ttf");
}

@font-face {
  font-family: "QuickSand";
  src: url("./Fonts/Quicksand-VariableFont_wght.ttf");
}

div{
  display: block;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.mainContainer {
  width: 100vw;
  
}

h1 {
  font-family: Amiko;
  font-size: 52px;
  margin-bottom: 1%;
}

.topContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}

.relativeContainer{
  width: 100%;
  height: 100vh;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0);
  position: relative;
}

.figCaption {
  position: absolute;
  z-index: 2;
  top: 40%;
  left: 25%;
  width: 35%;
  transform: translate(-50%, 0);
  color: white;
}

.gallery {
  display: flex;
  height: 100%;
}

.slide {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.slide.active {
  opacity: 1;
  z-index: 1;
}

.dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 3;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.dot.active {
  opacity: 1;
}

.scrollIndicator {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

@keyframes arrowAnimation {
  0% {
    opacity: 0;
    transform: translateY(-50px) rotate(45deg);
  }
  50% {
    opacity: 1;
    transform: translateY(0) rotate(45deg);
  }
  80% {
    transform: translateY(30px) rotate(45deg);
  }
  100% {
    opacity: 0;
    transform: translateY(50px) rotate(45deg);
  }
}

.arrow {
  width: 10px;
  height: 10px;
  border: solid rgb(255, 255, 255);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(45deg);
  animation: arrowAnimation 2s infinite; /* Adjust animation duration */
}

.scrollOverlay {
  position: relative;
  width: 100%;
  background: rgb(255, 255, 255);
  z-index: 3;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.overlayContent {
  position: absolute;
  background: white;
  
 
  
  width:80%;
}

.extraContent {
  padding: 20px;
  background: #f0f0f0;
  height: 100vh;
}
